html {
    background-color: #f2f4f8;
}


body {
    text-align: center;
    padding-top: 100px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.75;
}
.container {
    background-color: white;
    padding: 20px 20px 40px 20px;
    margin-right: 300px;
    margin-left: 300px;
}

button {
    background-color: #645cff;
    color: white;
    width: 150px;
    height: 37px;
    padding: 0;
    border: 0px solid black;
    border-radius: 2px;
    margin: 0;
    cursor: pointer;
    font-size: 16px;
}

.task-container {
    padding: 40px 20px 20px 20px;
}

input[name="task"] {
    width: 300px;
    height: 35px;
    border: 0.5px solid black;
    border-radius: px;
    padding: 0;
    margin: 0; 
}

.placeholder {
    opacity: 0.5;
}